AlanSDK.framework/AlanSDK filter=lfs diff=lfs merge=lfs -text
AlanSDK.xcframework/ios-arm64/AlanSDK.framework/AlanSDK filter=lfs diff=lfs merge=lfs -text
AlanSDK.xcframework/ios-arm64_x86_64-simulator/AlanSDK.framework/AlanSDK filter=lfs diff=lfs merge=lfs -text
